{% extends "base.html" %}

{% block content %}

{{perroDetalle.direccion}}<br>
{{perroDetalle.estado}}<br>
{{perroDetalle.tamano}}<br>
{{perroDetalle.subido_el}}<br>
{{perroDetalle.encontro_casa}}<br>
{{perroDetalle.contacto}}<br>
<img src="http://cuchanoble-static.s3.amazonaws.com/{{perroDetalle.imagen}}" alt="" width="100%"><br>
Subido por: {{subido}}<br>

	<a href="{% url "perros:editar" id=perroDetalle.id %}">Editar</a>
	{% if request.user.is_superuser %}
	<form method="POST" action="{% url "perros:borrar" pk=perroDetalle.pk %}">
   	{% csrf_token %}<input type="submit" value="DELETE">
	</form>
	{% endif %}

{{pe.author.id}}

{% endblock %}
