{% extends "base.html" %}

 {% load widget_tweaks %}
<title>{% block title %} Subir | {{block.super}} {% endblock title %}</title>

 {% block content %}

<div class="container">
    <h4 >Rellená el formulario</h4>
    <hr style="margin-bottom: 2em;">
</div>
<div class="container">
    <div class="card">
        <div class="card-content">
    	    <form method="POST" action="">{% csrf_token %}
            <!-- Form para completar al editar -->
              <!-- Checkear si encontro casa -->
              <h5>Para aprobar este perro<b>chequeá esta casilla</b> y da click en guardar</h5>
                {{form.aprobado}}
                {{form.aprobado.label_tag}}
              <h5>Si el perro encontró casa, <b>por favor chequeá esta casilla</b> y da click en guardar</h5>
                {% render_field form.encontro_casa placeholder="¿Encontro casa?" style="margin-bottom: 2em;" %}
                {{form.encontro_casa.label_tag}}
            <hr>
                {% render_field form.direccion placeholder="Barrio" style="margin-bottom: 2em;" %}
                {{form.edad.label_tag}}
                {% render_field form.edad class+="browser-default" style="margin-bottom: 2em;" %}
                {{form.sexo.label_tag}}
                {% render_field form.sexo class+="browser-default" style="margin-bottom: 2em;" %}
                {{form.tamano.label_tag}}
                {% render_field form.tamano class+="browser-default" style="margin-bottom: 2em;" %}
                {{form.estado.label_tag}}
                {% render_field form.estado class+="browser-default" style="margin-bottom: 2em;" %}
                {% render_field form.contacto placeholder="Número de contacto" style="margin-bottom: 2em;" %}
                <hr>
    	    <input class="btn" type="submit" value="Guardar">
          <br>
          <br>
          <hr>
    	</form>
      <h4>Eliminar perro</h4>
      <p>Cuidado, esta acción no tiene vuelta atrás</p>
      <form method="POST" action="{% url "perros:borrar" pk=perroDetalle.pk %}">
        {% csrf_token %}<input class="btn" type="submit" value="DELETE">
      </form>
        </div>
    </div>
</div>


{% endblock content %}
